body
{
text-align: center;
}

.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }

  #footer{
      width: 100%;
      font-size: 25px;
      text-align: center;
      background-color: lightgreen;
      color: navy;
      bottom: 0;
      position: fixed;
      line-height: 3;
      letter-spacing: 3px;
  }